 /* Base Styles */
*{
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    color: #2d5a27;
    background-color: #f8f9f7;
    line-height: 1.61;
}
.Case {
	 background-color: #e7daca;
}
.Vessel {
    max-width: 1200px;
    margin: 0 auto;
	padding: 100px;
	text-align: center;
}



/* Header / Navigation Styles */
.header{
	background-color: #ffffff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
    z-index: 1000;
}

.nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0px;
}

.logo img{
	height: 30px;
	width: auto;
	display: block;
	max-height: 100%;
}

.nav-menu{
	display: flex;
	list-style: none;
}

.nav-items{
	margin-left: 30px;
}

.current{
 	text-decoration: none;
 	color: #f8f9f7;
 	font-weight: 800;
 	background-color: #008000;
 	border-radius: 20px;
 	padding: 8px 16px;
 	display: inline-block;
}

.menu{
	text-decoration: none;
	color: #2F4F3E;
	font-weight: 800;
	transition:color 0.3s;
	padding: 8px 16px;
	display: inline-block;
}

.menu:hover{
	background-color: #3E5F4B;
	color: #f8f9f7/*#5A4632 #2F4F3E */;
	border-radius: 20px;
}


/* Footer Styles */
.footer{
	background-color: #5A4632/*#bc8a5f*/;
	color: #f8f9f7;
	padding: 100px;
	padding-bottom: 10px;
}

.F-Vessel{
	padding-left: 40px;
	display:flex;
	gap: 300px;
	align-items: center;
	margin-bottom: 20px;
}

.footer-logo img{
	height: 30px;
	width: auto;
	display: block;
	max-height: 100%;	
}

.footer-nav{
	display: inline-block;
	align-items: center;
	padding: 15px 0px;
}

.footer-menu{
	list-style: none;
}
.footer-link{
	text-decoration: none;
	color: #F5F5F0;
	font-weight: 800;
	transition: all 0.3s ease;
}

.footer-link:hover{
	color: #bc8a5f;
}
#footer-link-header{
	color: #F5F5F0;
	font-size: 18px;
	font-weight: 700;
}
.contact-us{
	color: #F5F5F0;
	font-size: 18px;
	font-weight: 700;
}

.copyright{
	text-align: center;
    padding-top: 20px;
    border-top: 2px solid #bc8a5f;
    color: #F5F5F0;
    font-size: 14px;
}

